/* Zmienne kolorów */
:root {
    --mainColor: #0C2669;
    --mainColorLight: #103183;
    --secondaryColor: #5AF388;
    --textColor: #eee;
}

/* Kalendarz */
.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
    background-color: var(--mainColorLight);
    color: var(--textColor);
}

/* Ukrywanie tekstu */
.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

/* Przyciski i akcje dialogu */
.css-knqc4i-MuiDialogActions-root {
    background-color: var(--mainColorLight);
    color: var(--textColor) !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root { 
    color: var(--textColor) !important;
    display: none !important;
}

/* Zawartość kalendarza */
.css-16b5y55-MuiPickersLayout-contentWrapper {
    background-color: #0f296ab1;
    color: var(--textColor);
    margin: 20px !important;
    width: 300px;
    height: 300px;
}

.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-actionBar {
    background-color:   var(--mainColor) ;
} 

.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-toolbar {
    background-color:   var(--mainColor) ;
}

/* Przycisk zmiany widoku kalendarza */
.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton{
    color: var(--textColor) !important;
}

/* Dni kalendarza */
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
    color: var(--textColor) !important;
    margin: 2px 2px !important;
    font-size: 1.5rem;
}

/* Etykiety dni tygodnia */
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    color: rgba(196, 196, 196, 0.547) !important;
    font-size: 1.5rem !important;
}

/* Przycisk zmiany widoku kalendarza */
.css-sf5j28-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton {
    color: var(--textColor) !important;
}

/* Dni kalendarza (nie wybrane) */
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
    color: var(--secondaryColor) !important;
    border: none !important;
    font-size: 1.5rem;
}

/* Przyciski zmiany daty */
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
    color: var(--textColor) !important;
    font-size: 1.5rem;
}

.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
    color: var(--textColor) !important;
    font-size: 1.5rem;
}

/* Dodatkowy margines kalendarza */
.css-1q04gal-MuiDateCalendar-root {
    margin-left: 500px;
    background-color: var(--mainColor);
} 

/* Reset marginesu zawartości kalendarza */
.css-16b5y55-MuiPickersLayout-contentWrapper {
    margin: 0;
}

/* Tło kalendarza */
.css-4pax7l-MuiPickersLayout-root{
    background-color: var(--mainColor)!important;
    width: 400px;
    height: 450px;
    margin: 10px;
}

/* Rozmiar czcionki dni kalendarza */
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
    font-size: 1.5rem !important;
}

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root {
    font-size: 1.5rem !important;
    margin-top: 0.5% !important;
}

/* Kalendarz */
.calendar-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
  }
  
  .calendar {
    width: 450px;
    height: 500px;
    border: 1px solid var(--mainColor) !important;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: var(--mainColor)!important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.408);
    margin-top: 40px !important;
  }
  
  /* Komentarze */
  .comments {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--mainColor);
    border-radius: 5px;
    margin: 10px;
    width: 360px;
    height: 160px;
    color: var(--textColor);
    margin-top: 40px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.408); 

  }

  .css-o943dk-MuiFormLabel-root-MuiInputLabel-root {
    color: var(--textColor) !important;
  }
  .css-1pnmrwp-MuiTypography-root{
    color: var(--textColor) !important;
  }
  
  .comment-entry {
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #f7f7f76e;
    border-radius: 5px;
  }

  .sidebar {
    background-color: var(--mainColor);
    color: var(--textColor);
    border-radius: 5px;
    padding: 20px;
    width: 200px; /* Dostosuj szerokość kontenera */
    margin: 10px;
  }

  /* Cena i balans */
  .price, .balance {
    margin: 10px;
  }

  .css-1vbc0rj-MuiInputBase-input-MuiFilledInput-input {
    width: 100px !important;
    color: var(--textColor) !important;
  }

  .css-1iulo1y-MuiInputBase-root-MuiFilledInput-root {
    width: 300px !important;
    background-color: #eeeeee1f !important;
    border-radius: 5px;
  }

  .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    color:var(--secondaryColor);
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin-top: 20px !important;
    margin-right: 25px !important;
    width: 300px;
  }

  .sidebar {
    margin-top: 40px !important;
    width: 250px;
    height: 160px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.408);
  }
